<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon-16x16.png"
    />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/css/simple.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
  </head>
  <body>
    <header>
      <h1>{{ page.header }}</h1>
      <p>{{ page.description }}</p>

      {% include navigation.html %}
    </header>

    <main>{{ content }}</main>

    <footer>
      <p>
        © 2021 <a href="https://josejg.com">Jose Javier Gonzalez Ortiz</a>.
        Subscribe <a href="/feed.xml">via RSS</a>
      </p>
      <a href="https://512kb.club"
        ><img src="https://512kb.club/assets/images/green-team.svg"
      /></a>
    </footer>
  </body>
</html>
